{% extends "base.html" %}
{% load i18n jmbo_inclusion_tags jmbo_template_tags foundry_tags %} 

{% block content %}
    <div class="content download-list">
            <div class="foundry-container foundry-listing-vertical-thumbnail">
        
                <div class="title">{% trans title %}</div>
                <div class="items">
                    {% for obj in object_list %}
                        {% ifchanged obj.primary_category %}
                            {% if obj.primary_category %}
                                <div class="h3 item">{{ obj.primary_category.title }}</div>
                            {% endif %}
                        {% endifchanged %}
                        <div class="item item-download{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
                            {% render_object obj "list_item" %}
                        </div>
                    {% endfor %}
                </div>
        
                {% pager page_obj %}
            </div>
    </div>
{% endblock %}
