{% load i18n jmbo_template_tags %}

<div>
    {% if object.image %}
        <a href="{% url "download-request" object.slug %}">
            <img src="{{ object.get_download_list_url }}" alt="{{ object.title }}" class="left"/>
        </a>
    {% endif %}
    <div class="title">
        <a href="{% url "download-request" object.slug %}">{{ object.title }}</a>
    </div>
    <div class="meta">
        {% if object.file %}
            <span class="filesize">{% widthratio object.file.size 1024.0 1 %} kB</span><br />
        {% endif %}
        <span class="download-count">{{ object.view_count }} {% trans "downloads" %}</span>
    </div>
</div>
